{% extends "header.html" %}
{% block content %}
<div class='logBar'>Hi, {{name}} !!!</div>

<form method="POST" action="/addingredients">
{{htmlStr | safe}}
<div class='eList'>Quantity: <input type="number" step="0.01" name="quantity"></div>
<div class='eList'>Units: <input type="text" name="units"></div>
<input type="hidden" name="rid" value={{rid}}>

<div align='center'><button type='submit' name='submit' value='submit' style='background-color:inherit; border:0; cursor:pointer;' >
	<img src='/static/img/submit.png' width='70' height='70' />
</button></div>

</form>
{{error}}

{% endblock %}