{% extends "header.html" %}
{% block content %}
<div class='logBar'>Hi, {{name}} !!!</div>

<h1>Enter the information and submit once for each ingredient in your recipe:</h1>
<form method="POST" action="/addingredients">
{{htmlStr | safe}}}
Quantity: <input type="number" step="any" name="quantity"> <br>
Units: <input type="text" name="units"> <br>
<input type="hidden" name="rid" value={{rid}}>
<input type="submit" name="Submit Ingredient">
</p>
</form>

<p><a href="/dashboard">Return to Dashboard</a></p>

{% endblock %}