{% extends "header.html" %}
{% block content %}
<div class='logBar'>Hi, {{name}} !!!</div>

<form method="POST" action="/addrecipe">
<div class='eList'>Recipe title<font color='red'>*</font>: <input type="text" name="rec_name"></div>
<div class='eList'>Cuisine<font color='red'>*</font>: <input type="text" name="cuisine"></div>
<div class='eList'>Category<font color='red'>*</font>: <input type="text" name="category"></div>
<div class='eList'>Cooking Instructions: <textarea cols="30" rows="3" name="instructions"></textarea></div>
{{htmlStr | safe}}
<div class='special'><input type="submit" value="Add Recipe"></div></p>
</form>
<p>{{ error | safe }}</p>
{% endblock %}