<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Main.css') }}" />
</head>
	<body>
		<div id="container" >
			<div id="header" ></div>
			<div id="navBar" >
				<div class='navtabs' ><a href='/recipe' > Recipes </a></div>
				<div class='navtabs' ><a href='New_Post.php' > New </a></div>
				<div class='navtabs' ><a href='Search_Engine.php' > Search </a></div>
				<div class='navtabs' ><a href='Tags.php' > Tags </a></div>
				<div class='navtabs' ><a href='/show_recipe' > Display Recipe </a></div>
			</div>
			<div id="main" >
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>