<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Main.css') }}" />
</head>
	<body>
		<div id="container" >
			<div id="header" ></div>
			<div id="navBar" >
				<div class='navtabs' ><a href='/dashboard' > Dashboard </a></div>
				<div class='navtabs' ><a href='/search' > Search Recipe </a></div>
				<div class='navtabs' ><a href='/show_recipe' > Display Recipe </a></div>
				<div class='navtabs' ><a href='/addrecipe' > Add Recipe </a></div>
				<div class='navtabs' ><a href='/addrestaurant' > Add Restaurant </a></div>
				<div class='navtabs' ><a href='/logout' > Logout </a></div>
			</div>
			<div id="main" >
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>